$post-it-yellow: #ffff95;

.note-form {
  border: 2px solid #000;
  padding: 20px;
}

.note {
  margin-top: 20px;
  background: $post-it-yellow;
  padding: 20px;
}

.note-content {
  font-weight: bold;
}

.note-timestamp {
  font-size: 14px;
}

.note-meta {
  font-size: 14px;
}
