$post-it-yellow: #ffff95;

.video-status {
  font-size: 14px;
  color: $gray;
}

.note-form {
  border: 2px solid #ccc;
  position: relative;
  border-radius: 0 !important;
}

.note-form .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.note-box {
  border-width: 0;
  resize: none;
  font-size: 16px;
}

.note {
  margin-bottom: 20px;
  background: $post-it-yellow;
  padding: 20px;
}

.note-content {
  font-weight: bold;
}

.note-timestamp {
  font-size: 14px;
}

.note-meta {
  font-size: 14px;
}
