@import "bootstrap";
@import "margins";
@import "video";
@import "video-control";
@import "notes";

body {
  font-size: 18px;
}

.navbar {
  border-radius: 0;

  .navbar-brand,
  .navbar-nav > li > a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
