<form action="#" class="panel panel-default note-form add-bottom-margin">
  <div class="panel-heading">
    Add note at <span class="js-note-timestamp">1:20</span>
    <div class="video-status js-video-status"></div>
  </div>
  <textarea class="form-control note-box" rows="5" name="note-content" id="note-content"></textarea>

  <!-- <div class="checkbox">
    <label>
      <input type="checkbox" checked /> Pause video while typing
    </label>
  </div>
  <div class="radio">
    <strong>Timestamp</strong> –
    <span class="glyphicon glyphicon-film"></span> <span class="js-note-timestamp">1:20</span>
    <div>
      <label>
        <input name="how-long-before" type="radio" checked /> Current time
      </label>
    </div>
    <div>
      <label>
        <input name="how-long-before" type="radio" /> 10s ago
      </label>
    </div>
    <div>
      <label>
        <input name="how-long-before" type="radio" /> 30s ago
      </label>
    </div> -->
  <input type="submit" value="Add" class="btn btn-primary">
</form>
