{% extends "layout.html" %}

{% block page_title %}
Projects
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">{{ globals.organisation }}</a>
    </li>
    <li class="active">
      Projects
    </li>
  </ol>

  <h1>
    Projects
  </h1>
  <hr />

  <ul class="list-unstyled">
  {% for project in globals.projects %}
    <li>
      <h2 class="remove-bottom-margin">
        <a href="/projects/{{ project.slug }}">{{ project.title }}</a>
      </h2>
      <p class="lead">
        {{ project.desc }}
      </p>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
