{% extends "layout.html" %}

{% block page_title %}
Research projects
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">{{ globals.organisation }}</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/projects/{{ project.slug }}">{{ project.title }}</a>
    </li>
    <li>
      {{ video.participant }}
    </li>
  </ol>

  <span class="text-muted">Research session</span>
  <h1 class="remove-top-margin">
    {{ video.participant }}
  </h1>
  <hr />

  <div class="row">
    <div class="col-md-8">
      <div class="video-container">
        <video width="620" controls class="research-video" data-module="video-player">
          <source src="{{ asset_path }}/videos/test-video.mov" type="video/mp4">
          Your browser doesn't support the HTML5 video tag.
        </video>
      </div>
    </div>
    <div class="col-md-4">
      <div data-module="notes">
        <form action="#" class="note-form">
          <div class="form-group">
            <label for="note-content"><span class="glyphicon glyphicon-film"></span> <span class="js-note-timestamp">1:20</span></label>
            <textarea class="form-control" name="note-content" id="note-content"></textarea>
          </div>
          <div class="video-status js-video-status"></div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked/> Pause video while typing
            </label>
          </div>
          <input type="submit" value="Add note" class="btn btn-primary">
        </form>

        <div class="notes">
          <div class="note">
            <a href="#start=20" class="note-timestamp"><span class="glyphicon glyphicon-film"></span> 1:20</a>
            <div class="note-content">
              <p>Some note about this thing</p>
            </div>
            <p class="note-meta">– Paul H</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
